.configuration-panel{
    border: 1px solid  #baddf4;
    border-radius: 1rem;
    margin-left: 1rem;
    background-color: #fff;
}

.configuration-action{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 1rem;
}