.hierarchy-search{
    border-bottom: 1px solid #aeaeae;
    padding-bottom: 0.8rem;
    display: flex;
    justify-content: center;
}

.hierarchy-search input.search {
    height: 40px;
    border-radius: 1rem;
    padding: 1rem;
}
.hierarchy-search input{
    width: 100%;
    min-width: inherit
}