@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: sans-serif;
}

.card{
  margin: 0.5rem;
}

.loading-spin{
  margin-top: 5rem;
}